{% extends 'base.html.twig' %}

{% block title %}Porovnání pújček{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <a href="/">Zpět</a>
            </div>
        </div>
        {% for item in items %}
            <div class="row">
                <div class="col-sm-12">
                    <h2>{{ item.resource }}</h2>

                    <div class="row">
                        <div class="col-sm-12">
                            Úrok: {{ item.calculation.getInterestRate() }}
                        </div>
                        <div class="col-sm-12">
                            RPSN: {{ item.calculation.getAnnualPercentageRate() }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
