{% extends 'base.html.twig' %}

{% block title %}Porovnání půjček{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Porovnání pújček</h1>

                {{ form_start(form) }}

                <div class="form-group">
                    {{ form_label(form.propertyPrice) }}
                    {{ form_errors(form.propertyPrice) }}
                    {{ form_widget(form.propertyPrice, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.loanAmount) }}
                    {{ form_errors(form.loanAmount) }}
                    {{ form_widget(form.loanAmount, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.repaymentPeriod) }}
                    {{ form_errors(form.repaymentPeriod) }}
                    {{ form_widget(form.repaymentPeriod, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.fixationTime) }}
                    {{ form_errors(form.fixationTime) }}
                    {{ form_widget(form.fixationTime, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.personalIdentificationNumber) }}
                    {{ form_errors(form.personalIdentificationNumber) }}
                    {{ form_widget(form.personalIdentificationNumber, { 'attr': {'class': 'form-control'} }) }}
                </div>
                {{ form_widget(form.compare, { 'attr': {'class': 'btn btn-success'} }) }}

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
